
nav {
  margin: 0;
  display: flex;
}

.logo {
  width: 200px;
  padding: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.profile--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;

}

.profile--pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile-data {
  display: flex;
  flex-direction: column;
}

.profile-data p {
  margin: 0;
  font-size: 20px;
  padding: 8px;
}

.socials {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

.icons {
  width: 30px;
  padding: 5px 10px 5px 0;
}

.likes, .comments {
  font-size: 20px;
  margin: 0;
}

.container {
  width: 800px;
  margin: 0 auto;
}